@import url(https://fonts.googleapis.com/css?family=Erica+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

html, body {
    font-family: "Open Sans",sans-serif;
    height: 100%;
    position: relative;
    font-size: 18px;
}
section {
    /*padding/margin top helps with the scrolling buttons to scroll to the right area*/
    margin-top: -50px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.text-primary {
    color: #CC527A;
}
h1 {
    font-family: "Erica One";
}
/*------------------Helper Classes------------------*/
.padding-none {
    /*removes padding */
    padding-left: 0px;
    padding-right: 0px;
}
.margin-none {
    /*removes margin*/
    margin-left: 0px;
    margin-right: 0px;
}
.full-height {
    /*used on the sidebar to make it cover the whole screen*/
    height: 100%;
}
.full-width {
    /*used on images to make them always go to screen edge*/
    width: 100%
}


/*------------------Header------------------*/
.header {
    margin-left: 15px;
    position: absolute;
    background: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}
.header h1 {
    line-height: 0.7;
}
/*------------------Sidebar------------------*/
.sidebar {
    background-color: #353535;
}
.sidebar a {
    color: #acacac;
}
.sidebar .active > a {
    color: #CC527A;
    background-color: #454545;
    border-right: 5px solid #CC527A;
}
.sidebar-text {
    /*Hide on smaller screens, enabled below*/
    display: none;
}


/*------------------Screen Size------------------*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /*Enable Sidebar text on larger screens*/
    .sidebar-text {
        display: inline;
        padding-left: 1em;
   }
   .header h1 {
       font-size: 6em;
   }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}


/*------------------Footer------------------*/
footer {
    color: #fff;
    background-color: #CC527A;
    padding: 60px;

}
